/*extends*/
.album-1,
.album-2,
.album-3,
.album-4,
.album-5,
.album-6,
.album-7,
.album-8,
.album-9 {
  display: grid;
  height: 300px;
  width: 90%;
}

html,
body {
  background-image: url(/multimedia/audio/imagenes/backall.jpg);
  min-height: 70vh;
  height: 100vw;
  overflow-x: hidden;
}

.container {
  margin: 0;
  max-width: 80%;
  width: 30px;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.logo {
  margin: 0;
  display: flex;
  height: 56px;
  width: 50px;
}

.up {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  border: 4px;
}

.element-style {
  background-color: transparent;
  top: 0;
  z-index: 10;
  width: 50%;
  display: flex;
  height: 50px;
  justify-content: flex-start;
}

.principal {
  max-width: 100%;
  width: 10px;
  list-style: none;
  font-size: 15px;
  color: black;
  font-family: serif;
  display: flex;
  margin-bottom: 3px;
}

.principal-paragraph {
  text-align: center;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  border: 5px solid white;
}

.item-title {
  align-items: center;
  font-size: 45px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 6px 35px 15px 37px;
  border: 10px;
}

.first, .second, .third {
  border: 10px;
  margin: 30px;
  height: 400px;
  width: 500px;
}

.medium {
  display: flex;
  flex-direction: column;
  width: 1fr;
  height: 1fr;
  padding: 50px 35px 35px 40px;
  background-image: url(/multimedia/audio/imagenes/sectionvideos.webp);
}

.mid {
  display: flex;
  justify-content: center;
  color: black;
  border: 2px solid white;
}

.playlist {
  display: grid;
  background-image: url(/multimedia/audio/imagenes/sectionalbum.png);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/*welcome section*/
.item-start-1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  padding: 24px 150px 45px 70px;
  border: 15px;
  width: 20px;
  height: 20px;
}

.item-paragraphtitle {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  color: black;
}

.item-sectionparagraph {
  background-image: url(/multimedia/audio/imagenes/coversx2160.webp);
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 100%;
  margin-top: 100px;
}

.videowelcome {
  background-image: url(/multimedia/audio/imagenes/sectionvideos.webp);
  color: rgb(245, 228, 0);
  display: flex;
  justify-content: space-around;
}

/*clients section*/
.item-lastclients, .item-paragraphsclients, .item-paragraphsclientsleft {
  display: flex;
  justify-content: space-around;
}

/*us section*/
.item-paragraphus {
  margin: 50px;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3 2fr);
  width: 100%;
  max-width: 100%;
  color: black;
  font-size: 15px;
}

.item-endus {
  display: flex;
  justify-content: center;
  max-width: 100%;
  color: white;
  border: 3px solid white;
}

.item-endparagraph {
  margin: 70px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  font-size: 26px;
  border: 5px solid white;
}

/*service section*/
.item-servicesback {
  background-image: url(/multimedia/audio/imagenes/coversx2160.webp);
  color: black;
  font-weight: bold;
}

.item-servicetitle {
  font-size: 100px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 1%;
  border: 2px solid white;
}

.item-serviceparagraph {
  display: flex;
  font-size: 40px;
  justify-content: flex-start;
  color: yellow;
  font-weight: bolder;
  padding-top: 155px;
}

.item-listservice {
  align-items: flex-end;
  font-size: 40px;
  color: yellow;
}

/*animations*/
.element-style li {
  border-radius: 15px;
  height: 25px;
  width: 100%;
  margin: 45px;
  color: yellow;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

.Inicio {
  background-color: cadetblue;
  transition: all 0.5s linear;
}

.Nosotros {
  background-color: cadetblue;
  transition: all 1s ease-in-out;
}

.Clientes {
  background-color: cadetblue;
  transition: all 1.5s ease-in-out;
}

.Servicios {
  background-color: cadetblue;
  transition: all 2s ease-in-out;
}

/* animaciones */
.Inicio:hover,
.Nosotros:hover,
.Clientes:hover,
.Servicios:hover,
.Comunidad:hover {
  background-color: yellow;
  transition: 0.5s;
  transform: scale(1.5);
}

.animation-img {
  transition-property: all;
  transition-duration: 0.5s;
}

.animation-img:hover {
  transform: scale(2);
}

/*navbar y parrafo header*/
.item-upside {
  margin: 0;
}

.back {
  max-width: 100%;
}

.element-style li {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 55px;
}

section {
  padding: 1px;
}

.covers-bbc {
  display: flex;
  justify-content: center;
  color: yellow;
}

a {
  color: white;
  text-decoration: none;
}

.division {
  display: flex;
  height: 20px;
  width: 2000px;
}

/*medium*/
.medium-title {
  margin: 0;
  background-image: url(/multimedia/audio/imagenes/mid.png);
}

.medium-container {
  display: flex;
  width: 100%;
  max-width: 100%;
}

/* seccion albumes recomendados */
.Inicio {
  background-color: cadetblue;
  transition: all 0.5s linear;
}

.Nosotros {
  background-color: cadetblue;
  transition: all 1s ease-in-out;
}

.Clientes {
  background-color: cadetblue;
  transition: all 1.5s ease-in-out;
}

.Servicios {
  background-color: cadetblue;
  transition: all 2s ease-in-out;
}

/*extends*/
.album-1,
.album-2,
.album-3,
.album-4,
.album-5,
.album-6,
.album-7,
.album-8,
.album-9 {
  display: grid;
  height: 300px;
  width: 90%;
}

html,
body {
  background-image: url(/multimedia/audio/imagenes/backall.jpg);
  min-height: 70vh;
  height: 100vw;
  overflow-x: hidden;
}

.container {
  margin: 0;
  max-width: 80%;
  width: 30px;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.logo {
  margin: 0;
  display: flex;
  height: 56px;
  width: 50px;
}

.up {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  border: 4px;
}

.element-style {
  background-color: transparent;
  top: 0;
  z-index: 10;
  width: 50%;
  display: flex;
  height: 50px;
  justify-content: flex-start;
}

.principal {
  max-width: 100%;
  width: 10px;
  list-style: none;
  font-size: 15px;
  color: black;
  font-family: serif;
  display: flex;
  margin-bottom: 3px;
}

.principal-paragraph {
  text-align: center;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  border: 5px solid white;
}

.item-title {
  align-items: center;
  font-size: 45px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 6px 35px 15px 37px;
  border: 10px;
}

.first, .second, .third {
  border: 10px;
  margin: 30px;
  height: 400px;
  width: 500px;
}

.medium {
  display: flex;
  flex-direction: column;
  width: 1fr;
  height: 1fr;
  padding: 50px 35px 35px 40px;
  background-image: url(/multimedia/audio/imagenes/sectionvideos.webp);
}

.mid {
  display: flex;
  justify-content: center;
  color: black;
  border: 2px solid white;
}

.playlist {
  display: grid;
  background-image: url(/multimedia/audio/imagenes/sectionalbum.png);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/*welcome section*/
.item-start-1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  padding: 24px 150px 45px 70px;
  border: 15px;
  width: 20px;
  height: 20px;
}

.item-paragraphtitle {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  color: black;
}

.item-sectionparagraph {
  background-image: url(/multimedia/audio/imagenes/coversx2160.webp);
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 100%;
  margin-top: 100px;
}

.videowelcome {
  background-image: url(/multimedia/audio/imagenes/sectionvideos.webp);
  color: rgb(245, 228, 0);
  display: flex;
  justify-content: space-around;
}

/*clients section*/
.item-lastclients, .item-paragraphsclients, .item-paragraphsclientsleft {
  display: flex;
  justify-content: space-around;
}

/*us section*/
.item-paragraphus {
  margin: 50px;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3 2fr);
  width: 100%;
  max-width: 100%;
  color: black;
  font-size: 15px;
}

.item-endus {
  display: flex;
  justify-content: center;
  max-width: 100%;
  color: white;
  border: 3px solid white;
}

.item-endparagraph {
  margin: 70px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  font-size: 26px;
  border: 5px solid white;
}

/*service section*/
.item-servicesback {
  background-image: url(/multimedia/audio/imagenes/coversx2160.webp);
  color: black;
  font-weight: bold;
}

.item-servicetitle {
  font-size: 100px;
  display: flex;
  justify-content: center;
  color: white;
  padding: 1%;
  border: 2px solid white;
}

.item-serviceparagraph {
  display: flex;
  font-size: 40px;
  justify-content: flex-start;
  color: yellow;
  font-weight: bolder;
  padding-top: 155px;
}

.item-listservice {
  align-items: flex-end;
  font-size: 40px;
  color: yellow;
}

/*animations*/
.element-style li {
  border-radius: 15px;
  height: 25px;
  width: 100%;
  margin: 45px;
  color: yellow;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

/*media*/
@media screen and (max-width: 422px) {
  .principal {
    flex-direction: column;
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
    background-image: url(/multimedia/audio/imagenes/coversx2160.webp);
  }
  .principal-paragraph {
    margin-top: 220px;
  }
  .item-paragraphus {
    padding-top: 270px;
  }
  .item-videous {
    max-width: 25%;
    width: 125px;
    height: 250px;
  }
  .item-paragraphclients {
    padding-top: 220px;
    font-size: 12px;
    width: 100%;
    max-width: 100%;
  }
  .item-lastclients {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
    max-width: 100%;
  }
  .covers, .animation-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .logo {
    display: none;
  }
}
@media screen and (max-width: 518px) {
  .logo {
    display: none;
  }
  .element-style {
    margin-right: 160px;
  }
  .principal {
    font-size: 1px;
  }
  .item-paragraphus {
    padding-top: 255px;
  }
  .covers, .animation-img {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .item-us .item-videous {
    display: block;
    max-width: 80%;
    align-items: center;
    overflow-x: hidden;
  }
  .element-style {
    display: flex;
    z-index: 10;
  }
  li {
    font-size: 10px;
    display: flex;
  }
  .principal {
    font-size: 1px;
  }
  .medium-container,
.playlist,
.covers {
    display: block;
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .first,
.second,
.third {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .item-paragraphus,
.item-endparagraph,
.videowelcome {
    display: block;
    justify-content: center;
  }
  .item-sectionparagraph {
    display: inline-block;
    align-items: center;
  }
  .item-paragraphus {
    padding-top: 225px;
  }
  .covers, .animation-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .item-listservice {
    font-size: 50px;
  }
}
@media screen and (max-width: 1120px) {
  .medium-container,
.covers {
    display: block;
    width: 70%;
    max-width: 100%;
    justify-content: center;
  }
  .medium {
    width: 100%;
    max-width: 100%;
  }
  .playlist {
    max-width: 100%;
    width: 100%;
  }
  .principal {
    position: fixed;
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-family: serif;
    display: flex;
    justify-content: flex-start;
  }
  .videowelcome {
    display: block;
    justify-content: center;
    max-width: 100%;
    width: 100%;
  }
  .item-paragraphus {
    max-width: 100%;
    width: 75%;
    padding-top: 215px;
  }
  .item-endparagraph {
    max-width: 100%;
    width: 70%;
  }
  .item-sectionparagraph {
    display: inline-block;
    align-items: center;
  }
  .item-listservice {
    font-size: 50px;
  }
  .covers {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1120px) {
  .item-us .item-videous {
    display: block;
    max-width: 100%;
    align-items: center;
    overflow-x: hidden;
  }
  .element-style li {
    display: flex;
    margin: 0;
    z-index: 10;
    width: 1px;
    padding: 10px 85px 20px 1px;
  }
  .medium-container,
.playlist,
.covers {
    display: block;
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .first,
.second,
.third {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .item-paragraphus,
.item-endparagraph,
.videowelcome {
    display: block;
    justify-content: center;
  }
  .item-sectionparagraph {
    display: inline-block;
    align-items: center;
  }
}
@media screen and (max-width: 1220x) {
  .medium-container,
.covers {
    display: block;
    width: 70%;
    max-width: 100%;
    justify-content: center;
  }
  .medium {
    width: 100%;
    max-width: 100%;
  }
  .playlist {
    max-width: 100%;
    width: 100%;
  }
  .divgrid-1,
.divgrid-2,
.divgrid-3,
.divgrid-4,
.divgrid-5,
.divgrid-6,
.divgrid-7,
.divgrid-8,
.divgrid-9 {
    display: flex;
    justify-content: center;
  }
  .principal {
    position: fixed;
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-family: serif;
    display: flex;
    justify-content: flex-start;
  }
  .videowelcome {
    display: block;
    justify-content: center;
    max-width: 100%;
    width: 100%;
  }
  .item-paragraphus {
    max-width: 100%;
    width: 75%;
  }
  .item-endparagraph {
    max-width: 100%;
    width: 70%;
  }
  .item-sectionparagraph {
    display: inline-block;
    align-items: center;
  }
  .covers {
    flex-direction: column;
    align-items: center;
  }
}
/* animaciones */
.Inicio:hover,
.Nosotros:hover,
.Clientes:hover,
.Servicios:hover,
.Comunidad:hover {
  background-color: yellow;
  transition: 0.5s;
  transform: scale(1.5);
}

.animation-img {
  transition-property: all;
  transition-duration: 0.5s;
}

.animation-img:hover {
  transform: scale(2);
}

.last {
  display: flex;
  height: 200px;
  width: 8000px;
}

.footerimg {
  background-image: url(/multimedia/audio/imagenes/socialmediafooter.jpg);
}

.covers {
  background-image: url(/multimedia/audio/imagenes/coversx2160.webp);
  justify-content: space-between;
  display: flex;
}

.last-text {
  margin: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-size: medium;
  font-weight: bolder;
  color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.row {
  color: black;
  display: flex;
  justify-content: flex-start;
  text-align: justify;
  font-size: 300px;
}

.email {
  justify-content: flex-end;
}

/* seccion bienvenida */
/* seccion nosotros */
.item-us {
  overflow-x: hidden;
}

.item-ustitle {
  display: flex;
  justify-content: flex-start;
  color: white;
  border: 3px solid red;
}

.item-videous {
  width: 100%;
  max-width: 100%;
}

.item-imgus {
  justify-content: end;
  width: 50%;
}

/* seccion servicios */
/* seccion clientes*/
.item-titleclient {
  font-size: 35px;
}

.item-paragraphsclientsright {
  display: flex;
  justify-content: space-around;
  color: yellow;
  font-weight: bold;
  background-color: cadetblue;
  background-image: url(/multimedia/audio/imagenes/coversx2160.webp);
}

/*# sourceMappingURL=style.css.map */
