

/* animaciones */
.element-style li {
@extend %animations
    
}



.Inicio:hover,
.Nosotros:hover,
.Clientes:hover,
.Servicios:hover,
.Comunidad:hover {
background-color: yellow;
transition: .5s;
    transform: scale(1.5);
}

.animation-img {
    transition-property: all;
    transition-duration: 0.5s;
}

.animation-img:hover {
    transform: scale(2);
}