


/* seccion clientes*/

.item-clients {
    


}

.item-titleclient {
    font-size: 35px;
    
}

.item-paragraphsclientsleft {
    @extend %clientsflexbox
    

}

.item-paragraphsclients {
    @extend %clientsflexbox

}

.item-paragraphsclientsright {
    display: flex;
    justify-content: space-around;
    color: yellow;
    font-weight: bold;
    background-color: cadetblue;
    background-image: url(/multimedia/audio/imagenes/coversx2160.webp);
    
}

.item-lastclients {
@extend %clientsflexbox
}
.item-photostart{
    @extend %footclients
}