.last {

    display: flex;
    height: 200px;
    width: 8000px;
}
.footerimg{
    background-image: url(/multimedia/audio/imagenes/socialmediafooter.jpg);
}

.covers {
    background-image: url(/multimedia/audio/imagenes/coversx2160.webp);
    justify-content: space-between;
    display: flex;
    
}

.last-text {
    margin: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: bolder;
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.row {
    color: black;
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    font-size:300px ;

}

.email{

    justify-content: flex-end;
}