@import './variablesnextends';
@import './mixins';
@import './animations';
/*navbar y parrafo header*/
html,
body {
@extend %extendbody
}

.item-upside {
    margin: 0;
}

.back {
    max-width: 100%;
}



.container {
    @extend %extendcontainer

}

.logo {
 @extend %extendlogo

}

.up {
  @extend %upside

}

.element-style {

@extend %navbar

}
.element-style li{
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 55px;    
}

section{
    padding: 1px;
}

.principal {
@extend %principalnav
}

.principal-paragraph {
@extend %principalnavparagraph
}

.covers-bbc {
    display: flex;
    justify-content: center;
    color: yellow;
}

a {
    color: white;
    text-decoration: none;

}




.division {
    display: flex;
    height: 20px;
    width: 2000px;
}

/*medium*/
.item-title {
    @extend %midtitle
    }

.first, .second, .third{
@extend %mediusize
}

.medium {
@extend %flexmid
}
.medium-title {
    margin: 0;
    background-image: url(/multimedia/audio/imagenes/mid.png);
}
.medium-container{
    display: flex;
    width: 100%;
    max-width: 100%;
}


.mid {
@extend %midplay
}
/* seccion albumes recomendados */
.playlist {
@extend %playlist

}
.album-1,
.album-2,
.album-3,
.album-4,
.album-5,
.album-6,
.album-7,
.album-8,
.album-9 {
@extend %mediumalbums
}
