

/* seccion nosotros */


.item-us {
    overflow-x: hidden;
  
}

.item-ustitle {
    display: flex;
    justify-content: flex-start;
    color: white;
    border: 3px solid red
}

.item-paragraphus {
   @extend %paragraphgrid
}

.item-videous{
   width: 100%;
   max-width: 100%;
}

.item-endparagraph {
@extend %endpara
}

.item-imgus {
    justify-content: end;
    width: 50%
}
.item-endus {
    @extend %endus
    }
